<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace : 이름공간(group), 다른 mapper의 id와 중복시 구분하기 위함 -->
<mapper namespace="com.salre.main.contract">

<update id="updateContractStatus" parameterType="map">
	UPDATE CONTRACT
	SET
	contract_status = #{contract_status}
	WHERE contract_id = #{contract_id}
</update>

<update id="updateContractExcelPath" parameterType = "map">
	UPDATE CONTRACT
	SET
	contract_epath = #{contract_epath}
	WHERE contract_id = #{contract_id}
</update>
<update id="updateContractPdfPath" parameterType = "map">
	UPDATE CONTRACT
	SET
	contract_pdfpath = #{contract_pdfpath}
	WHERE contract_id = #{contract_id}
</update>
<update id="updateContractImgPath" parameterType = "map">
	UPDATE CONTRACT
	SET
	contract_imgpath = #{contract_imgpath}
	WHERE contract_id = #{contract_id}
</update>
<update id = "updateAddInfo" parameterType="map">
	UPDATE contract
	SET
		account = #{account, jdbcType=VARCHAR},
		account_name =	#{account_name},
		bank_name = #{bank_name}
	WHERE
		contract_id = #{contract_id}; 

</update>
	<select id="selectAll" resultType="contractVO">
		select *
		from contract
		order by
		1
	</select>
	<select id="selectById" parameterType="int"
		resultType="contractVO">
		select *
		from contract
		where contract_id = #{aa}
	</select>
	
	
	<select id="selectContractPById" parameterType="int"
		resultType="productcontractVO">
		select *
		from contract
		join product using (product_id)
		join user on contract.user_id = user.user_id
		where contract_id = #{aa}
	</select>
	<!-- <select id="selectSellerById" parameterType="int" resultType="contractVO"> 
		select * from contract join user on contract.user_id = user.user_id where 
		contract_id = #{aa} </select> -->
	<insert id="updateContract" parameterType="contractVO" useGeneratedKeys="true" keyProperty = "contract_id">
	INSERT INTO contract (
	contract_status,
	account,
    price,
    middle_payment,
    balance_payment,
    balance_payment_day,
    middle_payment_day,
    rent_fee_day,
    contract_startdate,
    contract_enddate,
    contract_date,
    contract_rule,
    user_id,
    product_id,
    contract_id
) VALUES (
#{contract_status},
	#{account},
    #{price},
    #{middle_payment},
    #{balance_payment},
 	#{balance_payment_day},
    #{middle_payment_day},
    #{rent_fee_day},    
    #{contract_startdate},
    #{contract_enddate},
    #{contract_date},
    #{contract_rule},
    #{user_id},
    #{product_id},
    #{contract_id}
)
	</insert>
	<update id="update2" parameterType="contractVO">
		update contract
		set user_id =
		#{user_id},
		product_id = #{product_id}
		price = #{price}
		account = #{account}
		contract_status = #{contract_status}
		where contract_id = #{contract_id}
	</update>
	<delete id="delete" parameterType="int">
		delete from contract where
		contract_id = #{did}
	</delete>
</mapper>