<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.salre.main.loan">
	<select id="select" parameterType="int" resultType="loanVO">
		SELECT *
		FROM loan
		WHERE  max_age >= #{age}
		AND max_income >= #{income}
		ORDER BY 6 ASC, 7 DESC;
	</select>

	<select id="selectById" parameterType="int" resultType="loanVO">
		SELECT *
		FROM loan
		WHERE loan_id = #{id};
	</select>
</mapper>
